*{
    margin: 0;
    padding: 0;
}
.rows{
    display: flex;
}
.rows>*{
    background-color: lightgrey;
}

body{
    background-color:pink;
}

.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1/2/3/3;
    place-self: center;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 5vw;;
    grid-area: 2/1/3/2;
}

button{
    width: 5em;
}
input{
    width: 8em;
}

h1{
    font-size: 48px;
    grid-area: 1/1/2/2;
    padding-left: 5vw;
}

.cell{
    height: 6px;
    width: 6px;
}

#topmost{
    display: block;
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: lightblue;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-image: url(./images/arrow-up-bold-outline.svg);
    background-size: 2em 2em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.scroller{
    display: none;
}

@media (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 10px;
    }
    .content{
        grid-column: 1/2;
        grid-template-rows: 1fr 5fr 4fr;
        grid-template-columns: 1fr;
        gap: 10vw;
    }
    .scroller{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        grid-column: 2/3;
        background-color: transparent;
        height: 100vh;
        width: 10px;
    }
    .bar{
        background-color: aliceblue;
        position: absolute;
        width: 10px;
        cursor: pointer;
        border-radius: 15px;
        transition: opacity 0.2s ease-in-out;
    }
    .container{
        padding-left: 10px;
        grid-area: 2/1/3/2;
    }
    h1{
        grid-area: 1/1/2/2;
    }
    .options{
        grid-area: 3/1/4/2;
        gap: 1em;
    }
    .cell{
        width: 3.5px;
        height: 3.5px;
    }
}