*{
    margin: 0;
    padding: 0;
}
.rows{
    display: flex;
}
.rows>*{
    background-color: lightgrey;
}

body{
    background-color:pink;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1/2/3/3;
    place-self: center;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 5vw;;
    grid-area: 2/1/3/2;
}

button{
    width: 5em;
}
input{
    width: 8em;
}

h1{
    font-size: 48px;
    grid-area: 1/1/2/2;
    padding-left: 5vw;
}

.cell{
    height: 6px;
    width: 6px;
}

@media (max-width: 600px) {
    .main{
        grid-template-rows: 1fr 5fr 4fr;
        grid-template-columns: 1fr;
        gap: 10vw;
    }
    .container{
        grid-area: 2/1/3/2;
    }
    h1{
        grid-area: 1/1/2/2;
    }
    .options{
        grid-area: 3/1/4/2;
        gap: 1em;
        /* padding-left: 2vw; */
    }
    .cell{
        width: 4px;
        height: 4px;
    }
}